body {
	margin: 10px;
}

#log {
	color: red;
	font-weight: 600;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

article {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

tbody[id^=added]:empty::after, button[disabled]::after {
	animation: rotate 2s linear infinite;
	border: solid gray 1px;
	border-bottom: 0;
	border-radius: 50%;
	display: inline-block;
	content: "";
	width: 16px;
	height: 16px;
	margin-left: 16px;
	vertical-align: middle;
}

button[disabled]::after {
	position: absolute;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

